body {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
  color: cyan;
  font-size: 70px;
  text-align: center;
  padding-top: 100px;
  font-family: "Bebas Neue", cursive;
}
.hero {
  height: 500px;
}

.content {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* imgs within content div */
div.content > img {
  max-width: 350px;
}
