  
body {
  background: black; 
  background-image: url(https://images.squarespace-cdn.com/content/v1/5710070ec2ea512829645ffd/1575481399614-1X2G4U81173TC950L14N/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/image-asset.jpeg?format=2500w);
  background-size: 2300px 1500px;
  background-repeat: no-repeat;
}
h1 {
  color: cyan;
  font-size: 70px;
  text-align: center;
  padding-top: 100px;
  font-family: 'Open Sans', sans-serif;
}
p {
  color: yellow;
  font-size: 35px;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  padding-top: 130;
}
.hero {
  height: 500px;
}

.content {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: outset;
  border-color: #ffc8b3;
}
/* imgs within content div */
div.content > img {
  max-width: 350px;
}
